.dashboard{
    width: 100vw;
    height:100vh;
    display:grid;
    grid-template-columns:1fr 5fr;
    overflow: hidden;
    &_content{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_sideNav{
        width: 100%;
        display:grid;
        grid-template-rows:2fr 5fr;
        background-image:linear-gradient(100deg, #7bd1cd, #c6f7f4);
        box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, .3);
        z-index: 12;
    }
    &_logo{
        display:grid;
        justify-content: center;
        align-items: center;
    }
    &_add_product{
        border: none;
        color: #6daba8;
        background-color: white;
        justify-content: center;
        align-content: center;
        display: grid;
        width: 101%;
        height:35px;
        font-size: small;
        margin-bottom: 1rem;
        margin-top: 5rem;
        box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, .3);
        // font-weight: 600;
        &:hover{
            color: white;
            background-color:  #52a9eb;
            // font-weight: 600;
        }
    }
}