.regInputHolder{
    min-height: 433px;
    min-width: 300px;
    width:30vw;
    height:40vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display:flex;
    flex-direction: column;
    position: absolute;
}

.regLogoHolder{
    width:100%;
    flex-grow: 0.6;
    flex-shrink: 0;
    flex-basis: 0%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #30dbcf;
    display:flex;
    justify-content: center;
    align-items: center;
}

.regContent{
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 0%;
    padding: 0 3rem;
    display: flex;
}

.registration_form{
    margin-top: auto;
    margin-bottom: auto;

}

.regText{
    flex-grow: 0.5;
    font-size: 10px;
    color: #c3c3c3;
    font-family: sans-serif,Arial, Helvetica ;
    align-items: flex-end;
    
}
.regButton{
    flex-grow: 1;
}

.regNewReset{
    flex-grow: 0.1;
    font-size: small;
    color: #606060;
    font-family: sans-serif,Arial, Helvetica ;
    align-items: flex-end;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.regButton>div{
    flex-grow: 0.4;
    height: 80%;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    font-size: small;
    color: #606060;
    font-family: sans-serif,Arial, Helvetica ;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8%;
}

.regImage{
    min-width: 200px;
    min-height: 120px;
    width: 25vw;
    height: 15vw;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 200px;
    position: relative;
    left: -18%;
    top:-20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.regImage>div{
    width: 49%;
    height: 82%;
    border-radius: 50%;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    background-color: #30dbcf;
    position: relative;
    left: -20%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.regImage>div>*{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    /* background-color: #30dbcf; */
    position: absolute;
}

.regImage>div>div{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6);
    background-color:   #BFBFBF   ;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    left: 70%;
    top: 70%;
}

.regImage>div>div>input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.regBack{
    width: 5%;
    height: 5%;
    position: absolute;
    top:94%;
    left: 3%;
}
.reg_button{
    margin-top: 3rem;
}