.signInInputHolder{
    min-width: 300px;
    min-height: 400px;
    width:30vw;
    height:30vw;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.signInLogoHolder{
    width:100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #30dbcf;
    display:flex;
    justify-content: center;
    align-items: center;
}

.signInContent{
    width: 100%;
    flex-grow: 4;
    flex-shrink: 0;
    flex-basis: 0%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signInText{
    flex-grow: 0.5;
    font-size: 10px;
    color: #c3c3c3;
    font-family: sans-serif,Arial, Helvetica ;
    align-items: flex-end;
    
}

.signInNewReset{
    font-size: small;
    color: #606060;
    font-family: sans-serif,Arial, Helvetica ;
    align-items: flex-end;
    padding-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.signInButton>div{
    flex-grow: 0.4;
    height: 40%;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    font-size: small;
    color: #606060;
    font-family: sans-serif,Arial, Helvetica ;
    display:flex;
    justify-content: center;
    align-items: center;
}

.signIn_form{
    padding: 1rem 3rem;
}

